.hide {
  display: none !important;
}

.active {
  background-color: $white;
  color: $black;
  box-shadow: inset $shadow;
}

.not-valid {
  color: $orange;
}

.not-valid-text {
  color: $orange;
  font-size: 14px;
  font-style: italic;
  margin-bottom: 10px;
}

.success-post {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $orange;
  color: $blue;
  box-shadow: $shadow;
  border-radius: 15px;
  height: 200px;
  width: 400px;
  top: 50%;
  left: 50%;
  transform: translate( -200px, -100px );
  transition: all .5s;
}

.fade {
  opacity: 0;
}

.unliked {
  fill: $grey;
}

.liked {
  fill: $orange;
}

.liked-is-empty {
  color: $grey;
  font-style: italic;
  font-size: 30px;
}
